<div class="row">
    <div class="col-md-6">
        <%= form_with model: @articulo, local: true do |f| %>
            <% if @articulo.errors.any? %>
                <div>
                    <h4>Se han producido errores</h4>
                    <ul>
                        <% @articulo.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <form>
            <div class="mb-3">
                <%= f.label :titulo, class:"form-label" %>
                <%= f.text_field :titulo, class:"form-control" %>
            </div>
            <div class="mb-3">
                <%= f.label :contenido, class:"form-label" %>
                <%= f.text_field :contenido, class:"form-control" %>
            </div>
            <%= f.submit "#{@boton} Articulo", class:"btn btn-primary" %>
            </form>
        <% end %>
    </div>
</div>
